/* ----- styles for PETS ----- */

/* ------------------------------------------
fonts
*/

.gotham-bold {
  font-family: 'Hammersmith One', sans-serif;
}

.gotham-rounded {
  font-family: 'Farsan', cursive;
  font-weight: 800;
}

.helvetica-ligth {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
}

.helvetica-bold {
  font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
}

.helvetica-Med {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;
}

/* -------------------------------------------
basic styles
*/

body {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.allofit {
  background-color: #f7f7f7;
}

/* -------------------------------------------
navbar
 */

nav {
  background-color: #383838;
  border-bottom: 5px solid #888;
}

.logoleft img {
  width: 30px;
}

nav section {
  padding: 0.215em;
}

section.iconsright li {
  padding: 0 0.25em;
}

nav section a span,
nav section a div.logodog {
  padding-right: 0.35em;
}

nav section a div.logodog {
  padding-left: 0.35em;
}

.colorpink {
  color: #d35266;
}

/* ----------------------------------------------
header
*/

header.mainhdr {
  background-color: palevioletred;
  height: 350px;
}

.row1 {
  width: 80%;
}

.txthdr {
  height: auto;
}

header section.formhdr {
  background-color: transparent;
  font-size: 0.75em;
}

header .formhdr fieldset div.form-group {
  margin-right: 0.2em;
  font-size: 0.75em;
}

header .formhdr fieldset button.butnformhdr {
  margin-left: 0.35em;
}

.fontform {
  font-size: 0.9em;
  border-radius: 0;
}

.w15 {
  width: 15%;
}

.w45 {
  width: 45%;
}

.w25 {
  width: 25%;
}

/* ---------------------------------------------
footer
*/

.row2 {
  width: 90%;
}

footer section.topfoo article {
  padding: 0 3em;
}

footer section article.firstfoo img {
  width: 20px;
}

footer section article.firstfoo h3 {
  color: #888;
  font-size: 0.9em;
  padding-left: 0.5em;
}

footer section article.firstfoo p {
  color: #888;
  font-size: 0.5em;
  line-height: 1.5em;
}

.ache4enfooter {
  color: #d35266;
  font-size: 0.6em;
  margin-bottom: 0.35em;
}

footer section.topfoo article.secondfoo header,
footer section.topfoo article.thirdfoo header {
  border-bottom: 1px solid #d35266;
}

footer section.topfoo article.secondfoo a,
footer section.topfoo article.thirdfoo a {
  color: #888;
  font-size: 0.5em;
  line-height: 0.6em;
}

.aenfoo {
  color: #d35266;
  font-size: 0.75em;
}

footer section.topfoo article.fourthfoo ul li {
  padding: 0.5em 0;
  margin: 0.5em 0;
}

footer section.topfoo article.fourthfoo ul.scnd li {
  border: 1px solid #888;
}

.answers {
  color: #888;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
}

footer section.lowfoo {
  border-top: 1px solid #888;
}
